* {
	padding: 0;
	margin: 0;
}
body {
	display: flex;
	flex-direction: column;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
	padding: 0 1rem;
	min-height: 100vh;
}
main {
	flex: 1;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 2rem 0 5rem;
	
}

footer {
	 margin: 2rem 0 2rem;
}

nav {
	display: flex;
	flex-direction: row;
}

h1:not(:first-child), h2:not(:first-child), h3:not(:first-child), h4:not(:first-child), h5:not(:first-child) {
	margin: 0 0 1.5rem;
}

.list_section_header {
	margin: 0 0 1.5rem;
	padding-left: 10px;
}

.article_header {
	font-size: 2.5rem;
}

header h1 {
	font-size: 1.3em;
}

header h1 a {
	display: flex;
    justify-content: center;
    align-items: center;
}

.blog_logo {
	margin-right: 1rem;
}

@media only screen and (max-width: 620px) {
	.blog_name {
		display: none;
	}
}

header h2 {
	font-size: 1.17em;
}

nav span h2 {
	margin: 0 0.6rem 0 0;
}

dl, ol, p, table, ul {
	margin: 0 0 2rem;
	font-size: 1.3rem;
}

nav span h2 a {
	margin: 0 0.16rem 0 0;
}

.list_section_item {
	padding:10px;
	display: flex;
	flex-direction: column;
    justify-content: space-between;
}


@media only screen and (min-width: 1000px) {
	.list_section_item {
		flex-direction: row;
		align-items: center;
	}
}

.article_stub {
	margin: 0 0 2rem;
}

.rowbox {
	display: flex;
    flex-direction: row;
    align-items: baseline;
	justify-content: space-between;
}

.button {
	padding: .4rem .6rem;
}

@media only screen and (min-width: 620px) {
	.rowbox {
		justify-content: flex-start;
	}
	.button{
		margin: .25rem 1rem 0 2rem;
	}
}
*:not(pre) > code {
	padding: .1rem .3rem;
}
